SUPABASE_URL=https://enzsamjfzyapyjjszmlm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_pSiAoxOfFafDJ-Pv4ASoZQ_heNk-iFs
SUPABASE_SECRET_KEY=replace-with-your-sb_secret-key
SUPABASE_JWKS_URL=https://enzsamjfzyapyjjszmlm.supabase.co/auth/v1/.well-known/jwks.json